html{
    width: 100%;
    background-color: #ffffff;
}

body{
    width: 100%;
    background-color: #ffffff;
}

.title2{
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    color: #686c82;
    margin: 0 0 10px;
}

.title3{
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    color: #686c82;
    margin: 0 0 100px;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}




.card-container{
    height: 60vh;
    width: 33.7vh;
    background: linear-gradient(150deg, #e4c6c6, rgb(224, 95, 95), rgb(224, 142, 142), #d44444);
    border-radius: 20px;
    box-shadow: 0px 8px 22px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nike-logo-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nike-logo{
    height: 80%;
    width: auto;
}

.product-image-container{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image{
    width: 95%;
    height: auto;
}

.product-info-container{
    height: 50%;
    width: 100%;
    padding-top: 1rem;
    border-radius: inherit;
    background: linear-gradient(120deg, rgba(255,255,255,0.15), rgba(128,128,128,0.15));
    box-shadow: 0px 3px 8px rgba(0,0,0,0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.subtitle{
    font-size: 14px;
    color: #919191;
}

.title{
    margin-bottom: 1rem;
}

.price{
    font-size: 20px;
    color: #ffffff;
}

.rating-container{
    height: 20px;
    width: 30%;
    margin: 0.7rem auto 1.1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star{
    height: 80%;
    width: auto;
}

.star:last-of-type{
    opacity: 0.3;
}

.size-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.size-title{
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.66;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.sizes-container{
    width: 100%;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(6, 40px);
    justify-content: space-between;
    align-items: center;
}

.size{
    height: 100%;
    border: 1px solid rgba(255,255,255,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.selected{
    background-color: white;
    color: #121212;
}

.add-to-cart{
    height: 6.4vh;
    width: 100%;
    margin-top: auto;
    background: linear-gradient(-40deg, #e1a448, #b43a2c);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    cursor: pointer;
}

.add-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.cart{
    height: 60%;
    margin-right: 0.5rem;
}

.add-title{
    text-transform: uppercase;
}