<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Carrito de compra</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
  <div class="small-container single-product">
    <div class="row">
      <div class="col-6">
        <img height="500px" src="{{producto.imagen}}"
        width="100%" id="ProductImg">
        <div class="small-img-row">
          <div class="small-img-col">
            <img  src="../../../assets/images/login.png"
            width="100%" class="small-img"> 
          </div>
          <div class="small-img-col">
            <img  src="https://media.revistagq.com/photos/5ca5f42bbda594784133db72/master/w_1600%2Cc_limit/sandro_marca_ropa_moda_hombre_8167.jpg"
            width="100%" class="small-img"> 
          </div>
          <div class="small-img-col">
            <img src="https://media.revistagq.com/photos/5ca5f42bbda594784133db72/master/w_1600%2Cc_limit/sandro_marca_ropa_moda_hombre_8167.jpg"
            width="100%" class="small-img"> 
          </div>
        </div>
      </div>
      <div class="col-6" style="margin-top: -90px;">
        <p>Home / T-Shirts</p>
        <h1>{{producto.producto}}</h1>
        <h4>S/{{producto.precio}}.00</h4>
        <select>
          <option>Seleccione Talla</option>
          <option>XL</option>
          <option>L</option>
          <option>M</option>
          <option>S</option>
        </select>
        <input id="producto" name="producto" type="hidden" value={{producto}} [(ngModel)]="detalle.producto">
        <input id="precio" name="precio" type="hidden" value="{{producto.precio}}" [(ngModel)]="detalle.precio">
        <input id="cabecera" name="cabecera" type="hidden" value="{{cabecera}}" [(ngModel)]="detalle.cabecera">
        <input name="cantidad" [(ngModel)]="detalle.cantidad" type="number" value="1">`
        <div class="row">
          <div class="col-md-12 text-center">
            <label>{{this.mensaje}}</label>
          </div>
        </div>
        <button (click)="AgregarAlCarrito(detalle)"  class="btn">Add to Car</button>
        <h3>Detalles de Productos<i class="fa fa-indent"></i></h3>
        <br>
        <p>{{producto.descripcion}}</p>
      </div>
    </div>

  </div>
  <script>
    
  </script>
    
    
  </body>
</html>
