

  <div class="container">
    <h3>
      Listado de Productos <br>
      <small>
        <a href="#" routerLink="/cliente/cliente-addproducto"  class="btn btn-primary">Crear Producto</a>
      </small>
    </h3>
    <div style="float:left;width:80%">
      <div class="info">
        <p>This demonstrates a simple single selection table with the 3rd row selected by default.</p>
      </div>
      <ngx-datatable
        class="material"
        [rows]="productos"
        [columnMode]="ColumnMode.force"
        [columns]="columns"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [selected]="productoss"
        [selectionType]="SelectionType.single"
        (activate)="onActivate($event)"
        (select)="onSelect($event)"
      >
      </ngx-datatable>
    </div>
    <div class="selected-column" style="">
      <h4>Producto</h4>
      <ul *ngFor="let sel of productoss">
        <li>
          <b>Producto:</b> {{ sel.producto }}
        </li>
        <li>
          <b>Categoria:</b> {{ sel.categoria.categoria }}
        </li>
        <li>
          <b>Descripción:</b> {{ sel.descripcion }}
        </li>
        <li>
          <img style="height: 200px ;" class=text-center src="{{ sel.imagen }}">
        </li>
        <li *ngIf="sel.estado==1">
          <b >Estado:</b> Activo
        </li>
        <li *ngIf="sel.estado==0">
          <b >Estado:</b> Inactivo
        </li>
        <td><button  (click)="Editar(sel)" class="btn btn-success "><i class="fa-solid fa-pen-to-square"></i></button>
          <button *ngIf="sel.estado==0" (click)="Delete(sel)"  class="btn btn-warning" style="margin-left: 10px;">Activar <i class="fa-solid fa-toggle-on"></i></button>
                    <button *ngIf="sel.estado==1" (click)="Delete(sel)"  class="btn btn-danger" style="margin-left: 10px;">Desactivar <i class="fa-solid fa-toggle-off"></i></button></td>
        
        <li *ngIf="!productoss.length">No Selections</li>
      </ul>
    </div>
  </div>
